body{
    margin:0;
    
}

.headtitle {
    background-image:linear-gradient(purple,#600080);
    color:white;
    display:flex;
    justify-content: center;
}

.headtitle h1{
    font-family: monospace;
    color:aqua;
    font-size: 50px;
    
}

#wrapperButtons{
    margin:100px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}

#rock{
    font-size: 50px;
    
}

#paper{
    font-size: 50px;
    
}

#scissor{
    font-size: 50px;
}